body {
    background-color: rgb(19, 72, 130);
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.btn {
    margin-right: 5%;
}

.img {
    display: flex;
    justify-content: center;
}

.card-title {
    color: white;
}

.resume {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.section {
    margin: 0 auto;
}

.card {
    padding-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

#profile-pic {
    width: 33%;
}

header {
    position: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(19, 72, 130);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
}

footer i {
    font-size: 3em;
    margin-left: 1em;
}


/* Nav */

.nav ul {
    z-index: 1;
    position: fixed;
    top: 0;
}

.nav ul {
    list-style-type: none;
}

.nav li a {
    font-size: 2.5em;
    padding-right: 1em;
}

.nav li a:hover {
    color: white;
    text-decoration: none;
}

.main-title {
    animation-duration: 3s;
    animation-name: fadeIn;
}

#du {
    width: 5%;
}


/* Animations */

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    .nav {
        display: none;
    }
}