h2 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

.dev-icon {
    width: 15%;
    color: black;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    border: 2px solid #0d96e0;
    border-radius: 20px;
}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0d96e0;
}

#html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 93%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 82%;
    }
}

#js-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 85%;
    }
}

#jQuery-bar {
    animation: jQuery-fill 2s forwards;
}

@keyframes jQuery-fill {
    100% {
        width: 68%;
    }
}

#vue-bar {
    animation: vue-fill 2s forwards;
}

@keyframes vue-fill {
    100% {
        width: 70%;
    }
}

#react-bar {
    animation: react-fill 2s forwards;
}

@keyframes react-fill {
    100% {
        width: 65%;
    }
}

#sql-bar {
    animation: sql-fill 2s forwards;
}

@keyframes sql-fill {
    100% {
        width: 83%;
    }
}

#node-bar {
    animation: node-fill 2s forwards;
}

@keyframes node-fill {
    100% {
        width: 79%;
    }
}