/* HTML Elements */

body {
    background-color: rgb(19, 72, 130);
}

header {
    position: fixed;
    z-index: 2;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(19, 72, 130);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
}

footer i {
    font-size: 3em;
    margin-left: 1em;
}


/* Ids */

#top {
    padding-top: 1%;
}

#du {
    width: 2.5%;
}

#profile-pic {
    width: 33%;
}

#about,
#resume,
#deployed {
    padding-top: 5%;
}

#resume ul {
    list-style-type: square;
}


/* Classes */

.btns {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.btn {
    margin-right: 5%;
}

.img {
    display: flex;
    justify-content: center;
}

.card-title {
    color: white;
}

.resume {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.section {
    margin: 0 auto;
}

.card {
    padding-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
    justify-content: center;
}

.main-title {
    animation-duration: 3s;
    animation-name: fadeIn;
}

.top-section {
    margin-top: 5%;
}

.flex {
    display: flex;
    align-items: baseline;
}

.flex p {
    margin-left: 1%;
    font-size: 1.5em;
}

.flex.languages {
    justify-content: center;
}

.wrapper {
    width: 50vw;
}

.small {
    font-size: 1.25em;
    margin-left: .5%;
}

.flex-center {
    display: flex;
    justify-content: center;
}


/* Navbar */

.nav ul {
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: rgb(19, 72, 130);
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav li {
    display: inline-block;
}

.nav ul {
    list-style-type: none;
}

.nav li a {
    font-size: 2.5em;
    padding-right: 1em;
}

.nav li a:hover {
    color: white;
    text-decoration: none;
}


/* Animations */

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* Media Queries */

@media only screen and (max-width: 900px) {
    .top-section {
        margin-top: 20%;
    }
    .nav ul {
        z-index: 1;
        width: 100vw;
        flex-wrap: wrap;
    }
    #about,
    #resume,
    #deployed {
        padding-top: 9%;
    }
}

@media only screen and (max-width: 600px) {
    .nav ul {
        z-index: 1;
        width: 100vw;
        flex-wrap: wrap;
    }
    #about,
    #resume,
    #deployed {
        padding-top: 35%;
    }
    .flex {
        flex-direction: column;
    }
    .skills {
        max-width: 50vw;
    }
    .about-section {
        max-width: 50vw;
    }
    a {
        font-size: .5em;
        word-break: break-all;
    }
    .top-section {
        padding-top: 10%;
    }
}